{% extends "layouts/base.html" %}
{% block content %}
<div class="top-bar"><h5 class="page-title">CẤU HÌNH HỆ THỐNG</h5></div>
<div class="main-area">
    <div class="card-box">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Quản lý loại phòng & Giá</a>
            <a href="#" class="list-group-item list-group-item-action">Quản lý tài khoản nhân viên</a>
            <a href="#" class="list-group-item list-group-item-action">Thiết lập thông tin khách sạn</a>
        </div>
    </div>
</div>
{% endblock %}